<script src="https://giscus.app/client.js"
        data-repo="pwyoon/pwyoon.github.io"
        data-repo-id="R_kgDOTnpReQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOTnpRec4DCm4a"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
